/*-------------------------------body et header----------------------*/

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }

header{
    background-color: #0a0a23;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

header h1{
    font-size: 2em;
}

header li{
    font-size: 1.3em;
    display: inline-block;
}

header a{
    text-decoration: none;
    color: #f5f6f7;
    padding: 5px 10px;
}

nav{
    display: flex;
	align-items: center;
    margin-bottom: 2%;
}

/*---------------------main home----------------------*/

#main-home{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 4%;
}

#main-home img{
    width: 300px;
    border-radius: 10px;
    transition: transform .1s;
}

#main-home img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


figcaption{
    text-align: center;
}
